{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles%}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block all_content %}
<section id="{% block section_id %}featured{% endblock %}">
{% block left_wrapper %}
{% endblock %}


{% block main_wrapper %}
<div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">
{% block main %}


<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{% static "img/slides/1.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Free Software</h3> 
					<p>Send us your requirements, we will design the software for Free</p> 
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <img src="{% static "img/slides/2.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Hosting Free</h3> 
					<p>We also  host your Software on our Fast and Reliable servers for Free</p> 
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <img src="{% static "img/slides/3.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Open Source</h3> 
					<p>All our Code is Open Source Hosted on Github, Move your code to your own servers
					     and modify it as your like</p> 
				<a href="/request-a-software/github/" class="btn btn-theme">Learn More</a> 
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>	

{% endblock %}
</div>
{% endblock %}
{% block right_wrapper %}
{% endblock %}
</section>
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2><span style="font-family: 'Tangerine', serif; font-size: 48px;"> PythonArt </span>  Free Software and Website Design</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Free Customised Software </h4>
								<div class="icon">
								<i class="fa fa-desktop fa-3x"></i>
								</div>
								<p class="">
								 Need any Software Customised for your Business.
								  We Develop Software for Free.
								</p>
									
							</div>
							<div class="box-bottom">
								<a href="/request-a-software/#software">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Free Website Development</h4>
								<div class="icon">
								<i class="fa fa-pagelines fa-3x"></i>
								</div>
								<p>
								 Started a New Business/ Organisation.
								  Need a Website developed for Free.
								</p>
									
							</div>
							<div class="box-bottom">
								<a href="/request-a-software/#website">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Customizable</h4>
								<div class="icon">
								<i class="fa fa-edit fa-3x"></i>
								</div>
								<p>
								 Need a Customisation as your business grows.
								  Request a customisation, its Free.	
								</p>
								<br>	
							</div>
							<div class="box-bottom">
								<a href="/request-a-software/#customise">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Open Source</h4>
								<div class="icon">
								<i class="fa fa-code fa-3x"></i>
								</div>
								<p>
								 All our code is Open Source and hosted on Github.
								</p>
								 <br><br>	
							</div>
							<div class="box-bottom">
								<a href="/request-a-software/#opensource">Learn more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<!-- Portfolio Projects -->
		<div class="row">
			<div class="col-lg-12">
				<h4 class="heading">Recent Works</h4>
				<div class="row">
					<section id="projects">
					<ul class="portfolio" id="thumbs">
						<!-- Item Project and Filter Name -->
						<li data-type="web" data-id="id-0" class="col-lg-3 design">
						<div class="item-thumbs">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a href="{% static "img/works/1.jpg" %}" title="Crew Management" data-fancybox-group="gallery" class="hover-wrap fancybox">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img alt="Crew Management Application : Helped a Shipping Companies Recruit Crew and Plan Postings, Complying with OCIMF Matrix Requirements " src="{% static "img/works/1.jpg" %}">
						</div>
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li data-type="icon" data-id="id-1" class="item-thumbs col-lg-3 design">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a href="{% static "img/works/2.jpg" %}" title="E-Commerce Platform" data-fancybox-group="gallery" class="hover-wrap fancybox">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img alt="E-Commerce Application :Helped Set up an online Store to Sell Items Easily" src="{% static "img/works/2.jpg" %}">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li data-type="illustrator" data-id="id-2" class="item-thumbs col-lg-3 photography">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a href="{% static "img/works/3.jpg" %}" title="Soil Testing Application" data-fancybox-group="gallery" class="hover-wrap fancybox">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img alt="Helped a Soil Testing Company Keep Track of Projects, Manage Customers and Accounts" src="{% static "img/works/3.jpg" %}">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li data-type="illustrator" data-id="id-2" class="item-thumbs col-lg-3 photography">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a href="{% static "img/works/4.jpg" %}" title="Logistics" data-fancybox-group="gallery" class="hover-wrap fancybox">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img alt="Helped a Logistics Company Track Parcels, Manage Customers and Accounts" src="{% static "img/works/4.jpg" %}">
						</li>
						<!-- End Item Project -->
					</ul>
					</section>
				</div>
			</div>
		</div>

	</div>
	</section>

{% endblock %}
